@model Producto
@{
    ViewData["Title"] = "Solicitudes de productos añadidas";
}
<body style="background-color: #B9B9B9;">  
<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-1">Bienvenido a BUSCO</h1>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn3.vectorstock.com/i/1000x1000/10/12/a-trolley-shopping-cart-logo-icon-design-shop-vector-26981012.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rdstation.com%2Fes%2Fblog%2Fcrear-tienda-virtual%2F&psig=AOvVaw2gEIGCkrCbzhWo-Kcpn83r&ust=1622071957015000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJihzIj_5fACFQAAAAAdAAAAABAD" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div style="margin-top: 30px; text-align: center;">
        <div class="p-3 mb-2 bg-warning text-white">  
            <h2>Bienvenidos al mejor lugar para gestionar productos!</h2>
        </div>
</div>
<div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Busco"> 
            <button type="button" class="btn btn-secondary">Ver mis solicitudes registradas</button>
            </a>
        </div>
        

        <div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Producto">
                <button type="button" class="btn btn-secondary">Agregar nuevos productos</button></a>
        </div>
    </div>
</body>
